{{#if errorMessage}}

{{#each errorMessage}}

<div class="alert alert-warning alert-dismissible fade show"
    style="font-family:sans-serif; color: white; font-size:22px;  background-color: rgba(63, 30, 139, 0.801); text-align:center;"
    role="alert">
    {{this.msg}}
    <button type="button" style="background-color: rgba(97, 23, 167, 0.808)
    ;" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/each}}

{{/if}}

{{#if success_msg}}
<div class="alert alert-success alert-dismissible fade show"
    style="font-family:sans-serif; color: white; font-size:22px;  background-color: rgba(63, 30, 139, 0.801); text-align:center;"
    role="alert">
    {{success_msg}}
    <button type="button" style="background-color: rgba(97, 23, 167, 0.808)
    ;" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}
{{#if error_msg}}
<div class="alert alert-warning alert-dismissible fade show"
    style="font-family:sans-serif; color: white; font-size:22px;  background-color: rgba(63, 30, 139, 0.801); text-align:center;"
    role="alert">
    {{error_msg}}
    <button type="button" style="background-color: rgba(97, 23, 167, 0.808)
    ;" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

{{#if error}}
<div class="alert alert-warning alert-dismissible fade show"
    style="font-family:sans-serif; color: white; font-size:22px;  background-color: rgba(63, 30, 139, 0.801); text-align:center;"
    role="alert">
    {{error}}
    <button type="button" style="background-color: rgba(97, 23, 167, 0.808)
    ;" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}