<!--footer-->
<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="/images/bitspaceheadertop.png" style="width:250px; height:60px">
                <hr class="light">
                <p>00000-00000</p>
                <p>email@gmail.com</p>
                <p>Vellore</p>
                <p>Tamil Nadu</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Our Hours</h5>
                <hr class="light">
                <p>Friday: 10am-5pm</p>
                <p>Monday: 10am-5pm</p>
                <p>Sunday: Closed</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Service Area</h5>
                <hr class="light">
                <p>India</p>
                <p></p>
            </div>
            <div class="col-12">
                <hr class="light">
                <h5>&copy bitspace.com</h5>
            </div>
        </div>
    </div>
</footer>