<header>
     <!-- navigation-->
    <nav class="navbar navbar-expand-md navbar-dark text-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img class="toplogo" src="/images/logo-white.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" active>
                        <a class="nav-link" href="/home">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/forums">FORUMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/topnews">TOP NEWS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">PLANITARIUM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/photogallery">GALLERY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/store">STORE</a>
                    </li>
                    <a class="navbar-brand" href="/users/login"><img src="/images/userlogo-new.png" style="width:40px; height:40px"></a>
                </ul>
            </div>
        </div>
    </nav>
</header>