<header>
    <!-- navigation-->
    <nav class="navbar navbar-expand-md navbar-dark text-light" style="margin:0;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarResponsive" >
                <ul class="navbar-nav ml-auto" style="color: black;">
                    <li>
                        <input type="text" id="searchbar" name="searchbar" onclick="search_engine()" onkeyup="filter_function()" style="background:transparent;border-style:solid; color:floralwhite" placeholder="Search">
                        <div id="myDropdown" class="search-dropdown">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>