     <div class="forumsheading">
     <h1>FORUM</h1>
     </div>
     <div class="forumsbody">
          <nav class="acc">
		<article>
			<ul class="accordion">
				<li class="accordion__item">
					<a href="#" class="accordion__link accordion__link_active">SCIENCE</a>
					<ul class="sub-accordion">
						 <div class="forumsContent">        
        <ul>
            <li><a href="#"><span>1</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>2</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>3</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>4</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            
        </ul>
    </div>
					</ul>
				</li>
				<li class="accordion__item">
					<a href="#" class="accordion__link">STARGAZING</a>
					<ul class="sub-accordion">
						<div class="forumsContent">        
        <ul>
            <li><a href="#"><span>1</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>2</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>3</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>4</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            
        </ul>
    </div>
					</ul>
				</li>
				<li class="accordion__item">
					<a href="#" class="accordion__link">EQUIPMENT</a>
					<ul class="sub-accordion">
						<div class="forumsContent">        
        <ul>
            <li><a href="#"><span>1</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>2</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>3</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>4</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            
        </ul>
    </div>
					</ul>
				</li>
				<li class="accordion__item">
					<a href="#" class="accordion__link">OUR COMMUNITY</a>
					<ul class="sub-accordion">
						<div class="forumsContent">        
        <ul>
            <li><a href="#"><span>1</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>2</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>3</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>4</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            
        </ul>
    </div>
					</ul>
				</li>
				<li class="accordion__item">
					<a href="#" class="accordion__link">OUR COMMUNITY</a>
					<ul class="sub-accordion">
					<div class="forumsContent">        
        <ul>
            <li><a href="#"><span>1</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>2</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>3</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>4</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            
        </ul>
    </div>
					</ul>
				</li>
			</ul>
		</article>
	</nav>
 

              
                <div class="col-12 col-xl-3">
                  <aside>
                    <div class="row">
                      <div class="col-12 col-sm-6 col-xl-12">
                        <div class="card mb-3 mb-sm-0 mb-xl-3">
                          <div class="card-body">
                            <h2 class="h4 card-title">Members online</h2>
                            <ul class="list-unstyled mb-0">
                              <li><a href="#0">Forum member name</a></li>
                              <li><a href="#0">Forum member name</a></li>
                              <li><a href="#0">Forum member name</a></li>
                              <li><a href="#0">Forum member name</a></li>
                              <li><a href="#0">Forum member name</a></li>
                              <li><a href="#0">Forum member name</a></li>
                              <li><a href="#0">Forum member name</a></li>
                            </ul>
                          </div>
                          <div class="card-footer">
                            <dl class="row mb-0">
                              <dt class="col-8">Total:</dt>
                              <dd class="col-4 mb-0">10</dd>
                            </dl>
                            <dl class="row mb-0">
                              <dt class="col-8">Members:</dt>
                              <dd class="col-4 mb-0">7</dd>
                            </dl>
                            <dl class="row mb-0">
                              <dt class="col-8">Guests:</dt>
                              <dd class="col-4 mb-0">3</dd>
                            </dl>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6 col-xl-12">
                        <div class="card">
                          <div class="card-body">
                            <h2 class="h4 card-title">Forum statistics</h2>
                            
                            <dl class="row mb-0">
                              <dt class="col-8">Total threads:</dt>
                              <dd class="col-4 mb-0">186</dd>
                            </dl>
                            <dl class="row mb-0">
                              <dt class="col-8">Total posts:</dt>
                              <dd class="col-4 mb-0">1927</dd>
                            </dl>
                            <dl class="row mb-0">
                              <dt class="col-8">Total members:</dt>
                              <dd class="col-4 mb-0">581</dd>
                            </dl>
                          </div>
                          <div class="card-footer">
                            <div>Newest member:</div>
                            <div><a href="#0">Forum member name</a></div>
                          </div>                          
                        </div>
                      </div>
                    </div>
                  </aside>
                </div>
              </div>
            </div>
</div>
      <script src="/JS/forumsaccordion.js"></script>