<div class="forumsbody">
  <div class="dashboard2-body">
    <div class="dash2-card">
      <div class="dash2-card-image"></div>
      <div class="dash-card-text">
        <h1>FORUMS</h1>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <article>
    <ul class="accordion">
      <li class="accordion__item">
        <a href="#" class="accordion__link accordion__link_active">OUR COMMUNITY</a>
        <ul class="sub-accordion">
          <div class="forumsContent">
            <ul>
              <li><a href="#"><span>1</span>Welcome.</a>
                <p>Creator: Admin</p>
                <p>Date: 2020-10-06</p>
                <p>Upvotes: 1000</p>
              </li>
              <li><a href="#"><span>2</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a>
              </li>
              <li><a href="#"><span>3</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a>
              </li>
              <li><a href="#"><span>4</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a>
              </li>

            </ul>
          </div>
        </ul>
      </li>
      <li class="accordion__item">
        <a href="#" class="accordion__link">LAUNCHES</a>
        <ul class="sub-accordion">
          <div class="forumsContent">
            <ul>
              <li><a href="#"><span>1</span>Tiny moonbound spacecrafts have very big goals</a>
                <p>Creator: Sanjana</p>
                <p>Date: 2020-10-06</p>
                <p>Upvotes: 900</p>
              </li>
              <li><a href="#"><span>2</span>NASA reveals retro worm logo painted on moon-bound Artemis rocket</a>
                <p>Creator: Anurag</p>
                <p>Date: 2020-10-06</p>
                <p>Upvotes: 890</p>
              </li>
              <li><a href="#"><span>3</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a>
                <p>Creator: Anurag</p>
                <p>Date: 2020-10-06</p>
                <p>Upvotes: 890</p>
              </li>
              <li><a href="#"><span>4</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a>
                <p>Creator: Anurag</p>
                <p>Date: 2020-10-06</p>
                <p>Upvotes: 890</p>
              </li>

            </ul>
          </div>
        </ul>
      </li>
      <li class="accordion__item">
        <a href="#" class="accordion__link">EQUIPMENT</a>
        <ul class="sub-accordion">
          <div class="forumsContent">
            <ul>
              <li><a href="#"><span>1</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a>
              </li>
              <li><a href="#"><span>2</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a>
              </li>
              <li><a href="#"><span>3</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a>
              </li>
              <li><a href="#"><span>4</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a>
              </li>

            </ul>
          </div>
        </ul>
      </li>
      <li class="accordion__item">
        <a href="#" class="accordion__link">STARGAZING</a>
        <ul class="sub-accordion">
          <div class="forumsContent">
            <ul>
              <li><a href="#"><span>1</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a>
              </li>
              <li><a href="#"><span>2</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a>
              </li>
              <li><a href="#"><span>3</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a>
              </li>
              <li><a href="#"><span>4</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a>
              </li>

            </ul>
          </div>
        </ul>
      </li>
      <li class="accordion__item">
        <a href="#" class="accordion__link">GAMING</a>
        <ul class="sub-accordion">
          <div class="forumsContent">
            <ul>
              <li><a href="#"><span>1</span>Monopoly, Battleship and Trouble in space! Hasbros Space Capsule games land
                  at Target.</a>
                <p>Creator: Sneha</p>
                <p>Date: 2020-10-06</p>
                <p>Upvotes: 590</p>
              </li>
              <li><a href="#"><span>2</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a>
              </li>
              <li><a href="#"><span>3</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a>
              </li>
              <li><a href="#"><span>4</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a>
              </li>

            </ul>
          </div>
        </ul>
      </li>
      {{!-- <li class="accordion__item">
					<a href="#" class="accordion__link">OUR COMMUNITY</a>
					<ul class="sub-accordion">
					<div class="forumsContent">        
        <ul>
            <li><a href="#"><span>1</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>2</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>3</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>4</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            
        </ul>
    </div>
					</ul>
				</li> --}}
    </ul>

  </article>
  <div class="forumrow">
    <div class="forumcardcolumn">
      <div class="forumcard2">
        <a style="color:white;" href="/posts/newpost">Post a Thread</a></div>
    </div>
    <div class="forumcardcolumn">
      <div class="forumcard">
        <h3>Members online</h3>

        <p>
          <li><a href="#0">Forum member name</a></li>
        </p>
        <p>
          <li><a href="#0">Forum member name</a></li>
        </p>
        <p>
          <li><a href="#0">Forum member name</a></li>
        </p>
        <p>
          <li><a href="#0">Forum member name</a></li>
        </p>
      </div>
    </div>
    <br>
    <br>
    <div class="forumcardcolumn">
      <div class="forumcard">
        <h4>Forum statistics</h4>
        <p>Total threads: 10</p>
        <p>Total members: 10</p>
        <p>Most Active Member:</p><br>
        <a href="#">Forum member name</a>
      </div>
    </div>
    
  </div>
</div>
</div>




<script src="/JS/forumsaccordion.js"></script>