<div class="forumsheading">
  <h1>FORUM</h1>
</div>
<div class="forumsbody">

  <article>
    <ul class="accordion">
      <li class="accordion__item">
        <a href="#" class="accordion__link accordion__link_active">OUR COMMUNITY</a>
        <ul class="sub-accordion">
          <div class="forumsContent">
            <ul>
              <li><a href="#"><span>1</span>Welcome.</a>
                <p>Creator: Admin</p>
                <p>Date: 2020-10-06</p>
                <p>Upvotes: 1000</p>
              </li>
              {{!-- <li><a href="#"><span>2</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>3</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>4</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li> --}}

            </ul>
          </div>
        </ul>
      </li>
      <li class="accordion__item">
        <a href="#" class="accordion__link">LAUNCHES</a>
        <ul class="sub-accordion">
          <div class="forumsContent">
            <ul>
              <li><a href="#"><span>1</span>Tiny moonbound spacecrafts have very big goals</a>
                <p>Creator: Sanjana</p>
                <p>Date: 2020-10-06</p>
                <p>Upvotes: 900</p>
              </li>
              <li><a href="#"><span>2</span>NASA reveals retro worm logo painted on moon-bound Artemis rocket</a>
                <p>Creator: Anurag</p>
                <p>Date: 2020-10-06</p>
                <p>Upvotes: 890</p>
              </li>
              {{!-- <li><a href="#"><span>3</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>4</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li> --}}

            </ul>
          </div>
        </ul>
      </li>
      <li class="accordion__item">
        <a href="#" class="accordion__link">EQUIPMENT</a>
        <ul class="sub-accordion">
          <div class="forumsContent">
            <ul>
              {{!-- <li><a href="#"><span>1</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>2</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>3</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>4</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li> --}}

            </ul>
          </div>
        </ul>
      </li>
      <li class="accordion__item">
        <a href="#" class="accordion__link">STARGAZING</a>
        <ul class="sub-accordion">
          <div class="forumsContent">
            <ul>
              {{!-- <li><a href="#"><span>1</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>2</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>3</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>4</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li> --}}

            </ul>
          </div>
        </ul>
      </li>
      <li class="accordion__item">
        <a href="#" class="accordion__link">GAMING</a>
        <ul class="sub-accordion">
          <div class="forumsContent">
            <ul>
              <li><a href="#"><span>1</span>Monopoly, Battleship and Trouble in space! Hasbros Space Capsule games land
                  at Target.</a>
                <p>Creator: Sneha</p>
                <p>Date: 2020-10-06</p>
                <p>Upvotes: 590</p>
              </li>
              {{!-- <li><a href="#"><span>2</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>3</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>4</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li> --}}

            </ul>
          </div>
        </ul>
      </li>
      {{!-- <li class="accordion__item">
					<a href="#" class="accordion__link">OUR COMMUNITY</a>
					<ul class="sub-accordion">
					<div class="forumsContent">        
        <ul>
            <li><a href="#"><span>1</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>2</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>3</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            <li><a href="#"><span>4</span>NASA reveals retro 'worm' logo painted on moon-bound Artemis rocket.</a></li>
            
        </ul>
    </div>
					</ul>
				</li> --}}
    </ul>

  </article>



  <div class="forumsbody2">
    <div class="col-12 col-xl-3">

      <div class="row">
        <div class="col-12 col-sm-6 col-xl-12">
          <div class="card mb-3 mb-sm-0 mb-xl-3">
            <div class="card-body">
              <h2 class="h4 card-title">Members online</h2>
              <ul class="list-unstyled mb-0">
                <li><a href="#0">Forum member name</a></li>
                <li><a href="#0">Forum member name</a></li>
                <li><a href="#0">Forum member name</a></li>
                <li><a href="#0">Forum member name</a></li>
                <li><a href="#0">Forum member name</a></li>
                {{!-- <li><a href="#0">Forum member name</a></li>
                              <li><a href="#0">Forum member name</a></li> --}}
              </ul>
            </div>
            <div class="card-footer">
              <dl class="row mb-0">
                <dt class="col-8">Total:</dt>
                <dd class="col-4 mb-0">5</dd>
              </dl>
              {{!-- <dl class="row mb-0">
                              <dt class="col-8">Members:</dt>
                              <dd class="col-4 mb-0">7</dd>
                            </dl>
                            <dl class="row mb-0">
                              <dt class="col-8">Guests:</dt>
                              <dd class="col-4 mb-0">3</dd>
                            </dl> --}}
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-12">
          <div class="card">
            <div class="card-body">
              <h2 class="h4 card-title">Forum statistics</h2>

              <dl class="row mb-0">
                <dt class="col-8">Total threads:</dt>
                <dd class="col-4 mb-0">4</dd>
              </dl>
              <dl class="row mb-0">
                <dt class="col-8">Total members:</dt>
                <dd class="col-4 mb-0">5</dd>
              </dl>
            </div>
            <div class="card-footer">
              <div>Most Active Member:</div>
              <div><a href="#0">Forum member name</a></div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="topthread">
      <h1>Hottest Thread</h1>
      <hr>
      <div class="bodytopthread">
        <h2>Welcome.</h2>
        <h3>Welcome to the BITSPACE Community! We extend a warm welcome to you and invite you to participate in the
          ongoing
          discourse here in the BITSPACE.com forums! This is a place where you can share your thoughts with like-minded
          enthusiasts from across the globe.</h3><br><br>
        <h5> Created by: Admin</h5>
        <h5>Date: 2020-10-06</h5>
        <h5>Upvotes: 1000</h5>
      </div>
    </div>
  </div>
</div>


<script src="/JS/forumsaccordion.js"></script>