<div class="headingtop">
<h1 class="display-4 white">Capture It All</h1></div>

 <div class="carouselPhotoGallery">
        <input id="image1" type="radio" name="image-selector" checked="checked" />
        <label for="image4">View image 4</label>
        <img src="/images/space1.jpg" />

        <input id="image2" type="radio" name="image-selector" />
        <label for="image1">View image 1</label>
        <img src="/images/space1.jpeg" />

        <input id="image3" type="radio" name="image-selector" />
        <label for="image2">View image 2</label>
        <img src="/images/space2.jpeg" />

        <input id="image4" type="radio" name="image-selector" />
        <label for="image3">View image 3</label>
        <img src="/images/space2.jpg" />

        <label for="image4">View image 4</label>
        <label for="image1">View image 1</label>
    </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>