<div class="container card" style="background-color: rgba(51, 51, 51, 0.753);color:whitesmoke;">
    <h1 class="mt-4" style="text-align: center;">Help Station</h1><br> <br> <hr> <br>
    <h3>Help us improve your experience on this website by providing us Feedback.</h3>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScfe9eK7h58By3RSLxvgPkYy4NEzZ6jIJ-81LCVnlZyp56UxA/viewform">
        <button type="button" class="btn btn-outline-light btn-lg">Feedback Form</button>
    </a>
    <br>
    <hr>
    <br>
    <h3>OR write an Authenticated Review on our website and start a discussion.</h3>
    <a href="/posts/category/review">
        <button type="button" class="btn btn-outline-light btn-lg">Review Discussion</button>
    </a>
    <br>
    <br>
</div>