<!--IMAGE SLIDER-->
<div class="carousel">
    <div id="slides" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>

        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/largest_car1.jpg" class="car1">
                <img src="/images/500px-carousel1.jpg" class="car1-new">
                <div class="carousel-caption">
                    <h1 class="display-2">Welcome to COSMOTEEM</h1>
                    <br>
                    <div class="purposeBox">
                    <h2>Our Purpose</h2>
                    <h5>We aim to provide a platform for space enthusiasts, budding astronomers, and learners to 
                        have discussions in the Forums; updated with the latest news in the News Feed;
                            check out a model solar system in its alpha stage at the Planetarium; be awed by some stunning 
                            images in the Gallery; or even check out some of our top picks your next stargazing equipment.
                            <br>We hope to build a community that revolves around stargazing, astronomy, and space research.
                            </h5>
                            </div>
                    <br>
                    {{!-- <a href="/users/new"><button type="button" class="btn btn-outline-light btn-lg">SIGN UP</button></a>
                    <a href="/users/login"><button type="button" class="btn btn-outline-light btn-lg">LOG
                            IN</button></a> --}}
                </div>
            </div>

            <div class="carousel-item">

                <img src="/images/largest_car2.jpg" class="car2">
                <img src="/images/500px-carousel2.jpg" class="car2-new">
                <div class="carousel-caption2">
                    <h1>Our Philosophy</h1>
                    <h3></h3><br>
                    <div class="carousel-caption2-box">
                        <h5>Today, we are still fascinated by space and the idea of space travel. Space continues to
                            represent a
                            new frontier for mankind, fascinating and scaring us in equal measure. </h5>
                        <h5>We continue to push the
                            boundaries of our knowledge, awaiting
                            the day when travel into space is as open and accessible as air travel. </h5>
                        <h5>This is a space you can use to talk to fellow budding astronomers and space enthusiasts.
                        </h5>
                        
                        <h5>Space is bigger and greater than anything we can imagine. So make COSMOTEEM your space.</h5>
                        <h5>Please consider giving us a Feedback Review by clicking the buttons below!</h5>
                        <h5>Happy Exploring Cosmosapien!</h5>

                        

                    </div>
                    <br>
                    <div class="carousel2-buttons">
                        <a
                            href="https://docs.google.com/forms/d/e/1FAIpQLScfe9eK7h58By3RSLxvgPkYy4NEzZ6jIJ-81LCVnlZyp56UxA/viewform">
                            <button type="button" class="btn btn-outline-light ">Feedback Form</button>
                        </a>
                        <a href="/posts/category/review">
                            <button type="button" class="btn btn-outline-light ">Review Discussion</button>
                        </a>
                        {{!-- <a href="/users/login"><button type="button" class="btn btn-outline-light btn-lg">LOG
                            IN</button></a> --}}
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <img src="/images/largest_car3.jpg" class="car3">
                <img src="/images/500px-carousel3.jpg" class="car3-new">
                <div class="carousel-caption3">
                    <div class="carousel-caption3-box">
                        <h2 style="color: white;">Join our Community</h2>
                        <h3></h3>
                       
                        <a href="/users/new"><button type="button" class="btn btn-outline-light btn-lg">SIGN UP</button></a>
                        <a href="/users/login"><button type="button" class="btn btn-outline-light btn-lg">LOG
                            IN</button></a>
                            <br>
                            <h1>Connect With Us</h1> 
                        <a href="https://www.facebook.com/cosmoteem"><i class="fab fa-facebook"></i></a>
                        <a href="https://twitter.com/cosmoteem"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/cosmoteem/?igshid=17unlnsju41dp"><i class="fab fa-instagram"></i></a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- <!--jumbotron-->
        <div class="container-fluid">
            <div class="row jumbotron">
                <div id="para1">
                    <p class="lead">
                        Space is for everybody. It’s not just for a few people in science or math, or for a select group of
                        astronauts. That’s our new frontier out there, and it’s everybody’s business to know about space.
                    </p>
                </div>
            </div>
        </div>
<div class="homebody">
        <!--welcome section-->
       
        <div class="container-fluid padding">
            <div class="row welcome text-center">
                <div class="col-12">
                    <h1 class="display-4">This is a Free Space.</h1>
                </div>
                <hr>
                <div class="col-12">
                    <p class="lead">Welcome to BITSPACE. </p>
                </div>
            </div>
             <hr class="my-4">
        </div>
       
        <!--three solumn section-->
        
        <div class="container-fluid padding">
            <div class="row text-center padding">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img src="/images/communicatelogo.png" style="width:200px; height:150px">
                    <h2>COMMUNICATE</h2>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img src="/images/learnlogo.png" style="width:200px; height:150px">
                    <h2>LEARN</h2>
                </div>
                <div class="col-sm-12 col-md-4">
                    <img src="/images/explorelogo.png" style="width:200px; height:150px">
                    <h2>EXPLORE</h2>
                </div>
            </div>
             <hr class="my-4">
        </div>
        
        <!--fixed image bg-->
        <!--<figure>
            <div class="fixed-wrap">
                <div id="fixed"></div>
            </div>
        </figure>-->

        <!--our philosophy-->
      
        <div class="container-fluid padding">
            <div class="row padding">
                <div class="home3body">
                    <h2>Our Philosophy</h2>
                    <br>
                    <p>Today, we are still fascinated by space and the idea of space travel. Space continues to represent a
                        new frontier for mankind, fascinating and scaring us in equal measure. We continue to push the
                        boundaries of our knowledge, awaiting
                        the day when travel into space is as open and accessible as air travel. </p>
                    <p>This is a space you can use to talk to fellow budding astronomers and space enthusiasts. Go ahead and
                        indulge in discussions on our Forums page. You can even look up astronomical equipment in the Store.
                    </p>
                    <p>Space is bigger and greater than anything we can imagine. So make BITSPACE your space.</p>
                    <p>Happy Exploring!</p>
                    </br>
                </div>
                
            </div>
          <hr class="my-4">
        </div>
      

        <!--meet the team-->
       
        <div class="container-fluid padding">
            <div class="row welcome tect-center">
                <div class="col-12">
                    <h1 class="display-4">Meet the Team</h1>
                </div>
                <hr>
            </div>
             <hr class="my-4">
        </div>

        <!--cards-->
        <div class="container-fluid padding">
            <div class="row padding">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/images/team11.jpg">
                        <div class="card-body">
                            <h4 class="card-title">Anurag Parcha</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/images/team222.jpg">
                        <div class="card-body">
                            <h4 class="card-title">Sanjana Mishra</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/images/team33.jpg">
                        <div class="card-body">
                            <h4 class="card-title">Sneha Kiron</h4>
                        </div>
                    </div>
                </div>
            </div>
             <hr class="my-4">
        </div>
      

        <!--connect: socials-->
       
        <div class="container-fluid padding">
            <div class="row text-center padding">
                <div class="col-12">
                    <h2>Connect</h2>
                </div>
                <div class="col-12 social padding">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    
</div> --}}