
<!--IMAGE SLIDER-->
<div id="slides" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>

    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/space3.jpg">
            <div class="carousel-caption">
                <h1 class="display-2">Join our Community</h1>
                <h3></h3>
                <a href="/users/new"><button type="button"  class="btn btn-outline-light btn-lg">SIGN UP</button></a>
                <a href="/users/login"><button type="button"  class="btn btn-outline-light btn-lg">LOG IN</button></a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/space1.jpg">
        </div>
        <div class="carousel-item">
            <img src="/images/space2.jpg">
        </div>
    </div>
</div>

        <!--jumbotron-->
        <div class="container-fluid">
            <div class="row jumbotron">
                <div id="para1">
                    <p class="lead">
                        Space is for everybody. It’s not just for a few people in science or math, or for a select group of
                        astronauts. That’s our new frontier out there, and it’s everybody’s business to know about space.
                    </p>
                </div>
            </div>
        </div>
<div class="homebody">
        <!--welcome section-->
       
        <div class="container-fluid padding">
            <div class="row welcome text-center">
                <div class="col-12">
                    <h1 class="display-4">This is a Free Space.</h1>
                </div>
                <hr>
                <div class="col-12">
                    <p class="lead">Welcome to BITSPACE. </p>
                </div>
            </div>
             <hr class="my-4">
        </div>
       
        <!--three solumn section-->
        
        <div class="container-fluid padding">
            <div class="row text-center padding">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img src="/images/communicatelogo.png" style="width:200px; height:150px">
                    <h2>COMMUNICATE</h2>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img src="/images/learnlogo.png" style="width:200px; height:150px">
                    <h2>LEARN</h2>
                </div>
                <div class="col-sm-12 col-md-4">
                    <img src="/images/explorelogo.png" style="width:200px; height:150px">
                    <h2>EXPLORE</h2>
                </div>
            </div>
             <hr class="my-4">
        </div>
        
        <!--fixed image bg-->
        <!--<figure>
            <div class="fixed-wrap">
                <div id="fixed"></div>
            </div>
        </figure>-->

        <!--our philosophy-->
      
        <div class="container-fluid padding">
            <div class="row padding">
                <div class="home3body">
                    <h2>Our Philosophy</h2>
                    <br>
                    <p>Today, we are still fascinated by space and the idea of space travel. Space continues to represent a
                        new frontier for mankind, fascinating and scaring us in equal measure. We continue to push the
                        boundaries of our knowledge, awaiting
                        the day when travel into space is as open and accessible as air travel. </p>
                    <p>This is a space you can use to talk to fellow budding astronomers and space enthusiasts. Go ahead and
                        indulge in discussions on our Forums page. You can even look up astronomical equipment in the Store.
                    </p>
                    <p>Space is bigger and greater than anything we can imagine. So make BITSPACE your space.</p>
                    <p>Happy Exploring!</p>
                    </br>
                </div>
                
            </div>
          <hr class="my-4">
        </div>
      

        <!--meet the team-->
       
        <div class="container-fluid padding">
            <div class="row welcome tect-center">
                <div class="col-12">
                    <h1 class="display-4">Meet the Team</h1>
                </div>
                <hr>
            </div>
             <hr class="my-4">
        </div>

        <!--cards-->
        <div class="container-fluid padding">
            <div class="row padding">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/images/team11.jpg">
                        <div class="card-body">
                            <h4 class="card-title">Anurag Parcha</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/images/team222.jpg">
                        <div class="card-body">
                            <h4 class="card-title">Sanjana Mishra</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/images/team33.jpg">
                        <div class="card-body">
                            <h4 class="card-title">Sneha Kiron</h4>
                        </div>
                    </div>
                </div>
            </div>
             <hr class="my-4">
        </div>
      

        <!--connect: socials-->
       
        <div class="container-fluid padding">
            <div class="row text-center padding">
                <div class="col-12">
                    <h2>Connect</h2>
                </div>
                <div class="col-12 social padding">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    
</div>
