<header>
    <h1>Welcome Back, Bitgazer!</h1>
</header>
<br>
<hr>
<!--Login Form-->
<section class="container form1">
    <form action="" method="POST">
        <h2>Log-In to access your Space!</h2>
        <div class="msg"></div>
        <div class="group1">
            <label for="username">Username</label>
            <input type="text" id="userName" placeholder="username">
        </div>
        <div class="group1">
            <label for="password">Password</label>
            <input type="password" id="passWord" placeholder="password">
        </div>
        <div class="captcha">

        </div>
        <div class="group1 form1-link">
            <a href="sign-up">First time here? Click here.</a>
        </div>
        <div class="submit-btn">
            <input class="btn" type="submit" value="Submit">
        </div>
    </form>
</section>

<script src="../JS/login.js"></script>