<a href="/planetarium/projectsolar"><button style="width:100%;" type="button" class="btn btn-outline-light btn-lg">[ALPHA] Solar System</button></a>

<h1 style="text-align: center; color:white;">Coming Soon....</h1>
<div class="earth">
    </div>