<a href="/planetarium/projectsolar"><button type="button" class="btn btn-outline-light btn-lg" style="width:75%; position:relative; left:12.5%">[ALPHA] Solar System</button></a>

<h1 style="text-align:center; color:white;">Check Out the our solar system</h1>
<div class="earth">
    </div>