<div>
    <div id="unityContainer" style="float:left; width: 1280px; height: 720px; margin: auto"></div>

    <div style="float:right;"><a href="/planetarium"><button type="button" class="btn btn-outline-light btn-lg"> Go Back </button></a></div>
</div>


