<div class="headingtop">
<h1 class="center mt-4">Success!</h1>


    
<div class="signupdonebox">
    <h2 >Click the Button Below to go to your Dashboard!</h2>
    
    
    <form method="post" action="/dashboard/{{userid}}" class="formdone">

        <input type="submit" value="Go" class="btndone">

    </form>


</div>
</div>