<header>
    <h1 style="color: ghostwhite;">Join The Community made For & By Stargazers!</h1>
</header>
<br>
<hr>
<!--Signup Form-->
<section class="container form1">
    <form action="/api/users" method="post">

        <div class="felement">
            <h2>Sign-Up to create your Space!</h2>
        </div>
        <div class="msg"></div>
        <div class="group1">
            <label for="name">Name</label>
            <input type="text" name="firstname" placeholder="First">
            <input type="text" name="lastname" placeholder="Last">
        </div>
        <div class="group1">
            <label for="email">Email ID</label>
            <input type="email" name="email" placeholder="Email ID">
        </div>
        <div class="group1">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Username">
        </div>
        <div class="group1">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password">
        </div>
        <div class="group1">
            <label for="password">Confirm Password</label>
            <input type="password" name="cpassword" placeholder="Confirm Password">
        </div>
        <div class="group1">
            <a href="login" style="color: ghostwhite;">Already have an account? Click here.</a>
        </div>
        <div class="captcha">
        </div>
        <div class="submit-btn">
            <input class="btn" type="submit" value="Submit">
            <input class="btn" type="reset" value="Reset">
        </div>
    </form>
</section>