<h1 class="center mt-4">Success!</h1>

<div class="container mb-4 mt-4">
    
    
    <h3 class="mt-4">Click the Button Below to go to your Dashboard!</h3>
    
    
    <form method="post" action="/dashboard/{{userid}}" class="form-control">

        <input type="submit" value="Go" class="btn">

    </form>


</div>