<div class="storebody">
    <div class="store-card">
        <div class="inside">
            <div class="photo" style="background-image: url(/images/storeitem3.jpg)"></div>
            <ul class="details">

                <li class="tags">
                    <ul>
                        <li><a
                                href="https://www.amazon.in/Pullox-Reflector-Astronomical-Reflecting-Telescope/dp/B08HYHC7P5/ref=sr_1_1?dchild=1&keywords=astronomical+telescopes+SSEA+Pullox+Multy+Power+Reflector+Astronomical+Reflecting+Telescope&qid=1601830390&sr=8-1">Buy
                                Now</a></li>

                    </ul>
                </li>
            </ul>
        </div>
        <div class="description">
            <h1>SSEA Pullox Multy Power Reflector Astronomical Reflecting Telescope</h1>
            <h2>Price: ₹ 9,500.00</h2>
            <p> <b>About this item:</b>
                TRIPOD: Full Size Adjustable Tripod Includes Altitude and Azimuth Mounting MAGNIFICATION;
                Eyepiece: H20mm, H12.5mm, SR4mm;
                75X 262X 350X Multy Power Reflector Astronomical;
                astronomical enhance coating mirror;
                Interchangeable Eyepieces CONSTRUCTION: Lightweight, Durable Construction
            </p>

        </div>
    </div>
    <div class="store-card alt">
        <div class="inside">
            <div class="photo" style="background-image: url(/images/storeitem4.jpg)"></div>
            <ul class="details">

                <li class="tags">
                    <ul>
                        <li><a
                                href="https://www.amazon.in/HARIKRUPEX-Astronomical-Refractor-Telescope-Multicolor/dp/B08GFSQTJF/ref=sr_1_7?crid=PSI219PEEF7H&dchild=1&keywords=astronomical+telescopes&qid=1601827574&sprefix=astronomical+%2Caps%2C369&sr=8-7">Buy
                                Now</a></li>

                    </ul>
                </li>
            </ul>
        </div>
        <div class="description">
            <h1>HARIKRUPEX Land and Sky Astronomical Refractor Telescope</h1>
            <h2>Price: ₹ 3,005.00</h2>
            <p> <b>About this item:</b>
                Package Includes 1 Telescope with Accessories, Operational Manual and a Plastic Molded Carry Case;
                Spectacular Magnification of 18X - 90X. See The Night Sky and Natural World In More Detail;
                360mm Focal Length for Distortion Free Images. 50mm Lens Diameter. Monocular Telescope for Viewing with
                One Eye</p>

        </div>
    </div>
    <div class="store-card">
        <div class="inside">
            <div class="photo" style="background-image: url(/images/storeitem1.jpg)"></div>
            <ul class="details">

                <li class="tags">
                    <ul>
                        <li><a
                                href="https://www.amazon.in/Celestron-AstroMaster-130-EQ-Telescope/dp/B000MLL6RS/ref=sr_1_2?crid=PSI219PEEF7H&dchild=1&keywords=astronomical+telescopes&qid=1601822804&sprefix=astronomical+%2Caps%2C369&sr=8-2">Buy
                                Now</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="description">
            <h1>Celestron AstroMaster 130 EQ Telescope</h1>
            <h2>Price: ₹ 22,499.00</h2>
            <p> <b>About this item: </b>
                Quick and easy no-tool setup;
                Permanently mounted StarPointer;
                German Equatorial mount with Setting circles - to accurately locate and track sky objects;
                TheSkyX - First Light Edition astronomy software with a 10,000 object database, printable sky maps and
                75 enhanced images;
                Country of Origin: China</p>

        </div>
    </div>
    <div class="store-card alt">
        <div class="inside">
            <div class="photo" style="background-image: url(/images/storeitem2.jpg)"></div>
            <ul class="details">

                <li class="tags">
                    <ul>
                        <li><a
                                href="https://www.amazon.in/Iktu-Astronomical-Telescope-Refractor-Starwatcher/dp/B079Q2HXJ5/ref=sr_1_6?crid=PSI219PEEF7H&dchild=1&keywords=astronomical+telescopes&qid=1601822804&sprefix=astronomical+%2Caps%2C369&sr=8-6">Buy
                                Now</a></li>

                    </ul>
                </li>
            </ul>
        </div>
        <div class="description">
            <h1>Iktu Astronomical Telescope Refractor Starwatcher Telescope</h1>
            <h2>Price: ₹ 4,999.00</h2>
            <p><b>About this item:</b>
                Magnification : 87.5x / 175x / 262x / 525x (Field of view: 1.9 degrees);
                Adjustable height tripod with supports (adjust up to approx. 125cm);
                3x Barlow lens and SR4, H12 and H20 eyepieces included;
                Altazimuth mount with slow motion altitude controls;
                Tripod max. height: Approx. 1.25m/ 4.1ft</p>

        </div>
    </div>

    <div class="store-card">
        <div class="inside">
            <div class="photo" style="background-image: url(/images/storeitem5.jpg)"></div>
            <ul class="details">

                <li class="tags">
                    <ul>
                        <li><a
                                href="https://www.amazon.in/Celestron-71009-15x70-Skymaster-Binocular/dp/B00008Y0VN/ref=sr_1_1?crid=SS4HQJRL1T7G&dchild=1&keywords=astronomical+binoculars&qid=1601828352&sprefix=astronomical+bin%2Caps%2C281&sr=8-1">Buy
                                Now</a></li>

                    </ul>
                </li>
            </ul>
        </div>
        <div class="description">
            <h1>Celestron 71009 15x70 Skymaster Binocular</h1>
            <h2>Price: ₹ 8,526.00</h2>
            <p> <b>About this item:</b>
                15x magnification with multi-coated optics;
                Large aperture perfect for low light conditions and stargazing;
                Large 70 millimeter objective lens offers maximum image brightness in low light and long range
                conditions;
                Dioptre adjustment for fine focusing and limited lifetime warranty;
                Protective rubber easy-grip covering and included carrying case for safe transportation</p>

        </div>
    </div>
    <div class="store-card alt">
        <div class="inside">
            <div class="photo" style="background-image: url(/images/storeitem6.jpg)"></div>
            <ul class="details">

                <li class="tags">
                    <ul>
                        <li><a
                                href="https://www.amazon.in/Celestron-71256-Upclose-Wide-Angle-Binocular/dp/B006ZN4TZS/ref=sr_1_3?crid=SS4HQJRL1T7G&dchild=1&keywords=astronomical+binoculars&qid=1601828352&sprefix=astronomical+bin%2Caps%2C281&sr=8-3">Buy
                                Now</a></li>

                    </ul>
                </li>
            </ul>
        </div>
        <div class="description">
            <h1>Celestron 71256 G2 10x50 Upclose Wide-Angle Porro Binocular</h1>
            <h2>Price: ₹ 4,032.00</h2>
            <p><b>About this item:</b>
                10x magnification multi-coated optics increase light transmission resulting in brighter and sharper
                images with high contrast levels;
                Ergonomic thumb indents and finger ridges for extra non-slip comfort and ease of use;
                7.01m close focusing distance</p>

        </div>
    </div>
</div>