<div class="new-topnewsbody">
    <div class="new-topnewsheader">
        <div class="new-topnewsheader-text">
            <h3>TopNews</h3>
            <a href="/news/headlines">
                <h5>Read All Headlines</h5>
            </a>
        </div>
    </div>
    <div class="new-topnewscards">
        <div class="boxes">
            <div class="cardnews">
                <img src="/images/newsCard2.jpg" style="width:100%">
                <h5>NASA Highlights Science, Business on Next Mission</h5>

                <button class="myBtn" href="#myModal2">Read More</button>

                <!-- The Modal -->
                <div id="myModal2" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <br>
                        <p>NASA will host a media teleconference at 1 p.m. EDT Thursday, Sept. 24, to discuss science
                            investigations, technology demonstrations, and commercial products launching on Northrop
                            Grumman’s 14th commercial resupply mission for the agency to the International Space
                            Station. Audio of the teleconference will be streamed live online
                            at:http://www.nasa.gov/live .Northrop Grumman is targeting Tuesday, Sept. 29, at 10:26 p.m.,
                            for the launch of its Cygnus spacecraft on an Antares rocket from the Mid-Atlantic Regional
                            Spaceport’s pad 0A at NASA’s Wallops Flight Facility on Wallops Island, Virginia. The Cygnus
                            spacecraft will carry crew supplies, scientific research and hardware to the orbiting
                            laboratory to support the Expedition 64 crew.</p>
                        <p>Those participating in the briefing are:<br>Karl Hasenstein, professor of biology at the
                            University of Lafayette, and David Reed, Techshot Florida operations director, who will
                            discuss the Plant Habitat-02 investigation, which will study how radishes grow in space to
                            prepare for feeding future crews on deep-space missions.<br> Yusuf Erkul, co-founder and
                            president of Kernal Biologics, who will discuss the Onco Selectors investigation, which
                            leverages microgravity to identify targeted cancer therapies. Jim Fuller of Collins
                            Aerospace and Melissa McKinley, NASA Advanced Exploration Systems Logistics Reduction
                            project manager, who will discuss the Universal Waste Management System, a more compact and
                            reliable space toilet that will be used on the space station and on the Artemis II mission.
                            Carlos Cabrera, professor of chemistry at the University of Puerto Rico at Rio Piedras in
                            San Juan, and Camila Morales-Navas, chemistry PhD student at the University of Puerto Rico
                            at Rio Piedras in San Juan, who will discuss the Ammonia Electro-Oxidation investigation,
                            which studies a potential innovative water recovery system. Felix Lajeunesse and Paul
                            Raphael, co-founders and creative directors of Felix & Paul Studios, and Jonathan Woods,
                            executive producer, TIME Studios, who will discuss the ISS Experience EVA Camera, which will
                            be used to film a spacewalk and Earth views in cinematic 360-degree virtual reality. Phil
                            McAlister, director of commercial spaceflight development at NASA and Stéphane de La
                            Faverie, group president, The Estée Lauder Companies and global brand president, Estée
                            Lauder, who will discuss plans to photograph the company’s New Advanced Night Repair serum
                            in the space station’s iconic cupola window as part of NASA's efforts to enable business
                            activities at the space station and develop a robust low-Earth orbit economy</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="boxes">
            <div class="cardnews">
                <img src="/images/newsCard5.jpg" style="width:100%">
                <h5>NASA astronauts on SpaceX's Crew-1 flight will vote from space</h5>
                <button class="myBtn" href="#myModal5">Read More</button>

                <!-- The Modal -->
                <div id="myModal5" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <br>
                        <p>American astronauts will vote from space in the upcoming presidential election after
                            launching to the International Space Station aboard a historic SpaceX mission for NASA.</p>
                        <p>This Halloween (Oct. 31), astronauts Michael Hopkins, Victor Glover and Shannon Walker will
                            launch to the space station alongside Japanese astronaut Soichi Noguchi as part of SpaceX's
                            Crew-1 mission — the first operational flight of the company's Crew Dragon spacecraft for
                            NASA. And, in addition to their many duties on the orbiting lab, the American astronauts
                            will vote in the 2020 presidential election. <br>"All of us are planning on voting from
                            space," Walker told reporters in a news conference today (Sept. 29) about the NASA
                            astronauts headed to the space station. "NASA works very well with different election
                            organizations because we're all voting from different counties. But it was easiest for us
                            just to say we are going to vote from space. So that's what we're going to do." </p>
                        <p>So, how does one vote from space? Walker said it's fairly simple.<br>"I can talk about
                            casting a ballot from space since I did it last time I was on the space station," she said.
                            "They basically send you an electronic file, it's a PDF, and you mark your choices. And then
                            you email it back to … the person who's in charge of the election for the county [you vote
                            in]. And so then that gets counted into all the ballots that are brought back. It's very
                            simple, very straightforward."<br>NASA's Mission Control helps to send that file to the crew
                            and then send the ballots off to the astronauts' respective county clerks to be counted.
                            This is not the first time that astronauts have voted from space, as it is a fairly regular
                            occurrence when astronauts have been on the space station during an election. In November,
                            the International Space Station will mark 20 years of continuous crewed missions, so finding
                            a way for astronauts to vote was something NASA faced early on.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="boxes">
            <div class="cardnews">
                <img src="/images/newsCard3.jpg" style="width:100%">
                <h5>UK to launch new international space collaborations later this</h5>
                <button class="myBtn" href="#myModal3">Read More</button>

                <!-- The Modal -->
                <div id="myModal3" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <br>
                        <p>International space projects in robotics, disaster relief and space debris could be among the
                            new pioneering collaborations backed by £5 million of new Government funding</p>
                        <p>Through the Government’s new domestic space fund, the National Space Innovation Programme,
                            the UK Space Agency will fund innovative technologies and services to support
                            UK trade, science, and security with major space players like Australia, France, Japan and
                            the United States.<br>Funding – from £250,000 to £2.5 million - will be given to the best
                            international collaborative projects from UK industry, academia and research organisations.
                        </p>
                        <p>The UK Space Agency also runs its successful International Partnership Programme (IPP), a £30
                            million a year programme, which has grant-funded 43 projects in almost 50 developing
                            countries across Africa, Asia-Pacific and Latin America and built new partnerships between
                            186 mainly UK-based organisations and 183 international organisations.<br> The UK space
                            sector is a huge economic success story, growing by over 60% since 2010. The industry
                            already supports £300 billion of UK economic activity through the use of satellite services,
                            and employs more than 40,000 people. There are further opportunities, with the space sector
                            estimating a £60 billion future market in new Earth observation and communication
                            technologies.<br>Stronger international relationships and the ability to fund new projects
                            are crucial to meeting the Government’s increased ambitions for space. New funding will help
                            boost UK space exports, which are already worth £5.5 billion each year, in areas such as
                            satellite platforms, sensing systems and advanced software.<br>The UK also remains a leading
                            member of the European Space Agency, which is independent of the EU.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="boxes">
            <div class="cardnews">
                <img src="/images/newsCard4.jpg" style="width:100%">
                <h5>The Harvest Moon of 2020 rises tonight! But why is it in October?</h5>
                <button class="myBtn" href="#myModal4">Read More</button>

                <!-- The Modal -->
                <div id="myModal4" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <br>
                        <p>When the full moon shines tonight (Oct. 1), it will mark the Harvest Moon of 2020. If it
                            seems a bit late to you, you're not alone. Each year, the full moon that occurs nearest to
                            the autumnal equinox and is thus christened the Harvest Moon.<br> Usually this title goes to
                            the September full moon. There are other versions of this rule that classify the Harvest
                            Moon as the full moon that comes either at or just after the equinox, which,
                            more-often-than-not, would also put it in October. But in the years between 1970 and 2050,
                            the Harvest Moon falls in October no less than 17 times, and 2020 just happens to be one of
                            those years.<br>While the average occurrence of an October Harvest Moon is once every three
                            years, sometimes as much as eight years can pass between such cases. In fact, the next time
                            we will see a Harvest Moon in October will be in 2028. </p>
                        <p>Some skywatchers may think that the Harvest Moon remains in the night sky longer than any of
                            the other full moons we see during the year, but that's not the case. What sets tonight's
                            full moon apart from the others throughout the year is that farmers at the peak of the
                            current harvest season can work late into the night by the brilliant moonlight.<br>Tonight,
                            the moon rises at about the same time as the sun sets. More importantly, at this time of
                            year, instead of rising its normal average 50 minutes later each day, the moon appears to
                            rise at nearly the same time each night. In actuality, over the next few nights, the rising
                            of the moon as seen from mid-northern latitudes will come, on average, roughly 24 minutes
                            later each night. The reason for this seasonal circumstance is that the moon appears to move
                            along the ecliptic and at this time of year when rising, the ecliptic makes its smallest
                            angle with respect to the horizon.</p>
                        <p>Occurring on the first October, also means that the Harvest moon will be the first of two
                            full moons this month. The second full moon comes on Halloween (Oct. 31) and will be
                            christened the "Blue Moon." </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="side-headlines">
        <div><a style="color:white" href="/news/article">Tiny rogue planet is the smallest free-floating exoplanet candidate yet</a></div>
        <div><a style="color:white" href="/news/article">China is building a new rocket to fly its astronauts on the moon.</a></div>
        <div><a style="color:white" href="/news/article">Starburst Aerospace announces expansion in India.</a></div>
        <div><a style="color:white" href="/news/article">HyImpulse hybrid rocket motor roars to life for the first time.</a></div>
        <div><a style="color:white" href="/news/article">Russia's top space official tried to claim that the planet Venus belongs to the Kremlin.</a></div>
        <div><a style="color:white" href="/news/article">NASA Looks to Advance 3D Printing Construction Systems for the Moon and Mars.</a></div>
        <div><a style="color:white" href="/news/article">New Hubble data suggests there is an ingredient missing from current dark matter theories.</a></div>
    </div>
</div>







<script src="../JS/topNewsPopups.js"></script>