@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}

.homebody {
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(255, 255, 255, 0.838);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.fcontainer {
    color: ghostwhite;
    /* display: flex; */
    width: 500px;
    /* align-items: center; */
    text-align: center;
}

.felement {
    margin-left: 120px;
    color: ghostwhite;
    /* flex: 1; */
    border: 0px #ccc solid;
    text-align: center;
}

section.form1 {
    align-items: center;
    /* border: 3px solid #ccc; */
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    margin: auto;
    width: 800px;
    margin-bottom: 100px;
    /* background-color: snow; */
}

div.group1 {
    color: ghostwhite;
    display: block;
    width: 500px;
    justify-content: center;
    align-items: center;
    padding: 0px 72px 0px 72px;
}

div.group1 label {
    display: block;
    padding: 10px 0px 0px 0px;
}

.group1 input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}

div.group2 {
    color: ghostwhite;
    display: block;
    margin-left: 120px;
    width: 500px;
    justify-content: center;
    align-items: center;
    padding: 0px 72px 0px 72px;
}

div.group2 label {
    display: block;
    padding: 10px 0px 0px 0px;
}

.group2 input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: rgb(102, 233, 215);
    color: black;
    text-decoration: none;
    margin: 20px;
    margin-top: 30px;
    /* padding: 50px; */
    border-radius: 10px;
    text-align: center;
}

input[type="reset"] {
    background-color: rgb(102, 233, 215);
    color: black;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 30px;
    /* padding: 10px; */
    border-radius: 10px;
    text-align: center;
}

div.form1-link {
    margin: auto;
    position: inline-flex;
    justify-content: center;
}

div.submit-btn {
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="submit"]:hover {
    background-color: grey;
    color: white;
}

input[type="reset"]:hover {
    background-color: grey;
    color: white;
}

section.form1 h2 {
    position: relative;
    text-align: left;
    padding: 10px 0px 15px 30px;
}

#para1 {
    padding-top: 0px;
    padding-bottom: 0px;
}

p.lead {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 40px;
}

img.toplogo {
    width: 250px;
    height: 60px;
}

.jumbotron {
    padding: 1rem;
    border-radius: 1rem;
    padding-left: 1rem;
    text-align: center;
}

.col-12 {
    text-align: center;
}

.navbar {
    padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.carousel-inner img {
    height: 100%;
    width: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 500%;
    text-shadow: 1px 1px 1px #000;
}

.padding {
    padding-bottom: 2rem;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.social a {
    font-size: 4.5em;
    padding: 3rem;
}

.fa-facebook {
    color: #3b5998;
}

.fa-google-plus-g {
    color: #dd4b39;
}

.fa-instagram {
    color: #ff748c;
}

.fa-facebook:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover {
    color: #d5d5d5;
}

footer {
    flex-shrink: 0;
    bottom: 0;
    background-color: #272727;
    color: #d5d5d5;
    padding-top: 2rem;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

footer a {
    color: #d5d5d5;
}


/*---Media Queries --*/

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .group1 input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 5px;
        margin-bottom: 15px;
    }
}

@media (max-width: 576px) {}


/*---Firefox Bug Fix --*/

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}


/*--- Fixed Background Image --*/

figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    /*background-image: url('img.jpg');*/
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}


/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
    padding: 1rem;
}

*/ body {
    background-color: white;
}

.carouselPhotoGallery {
    position: relative;
    width: 650px;
    border: 10px solid white;
    margin: 20px auto;
    box-shadow: 0px 0px 40px #000;
}

.carouselPhotoGallery>img {
    display: none;
    width: 100%;
}

.carouselPhotoGallery>input {
    position: absolute;
    left: -9999px;
}

.carouselPhotoGallery>input:checked+label+img {
    display: block;
}

.carouselPhotoGallery>label,
.carouselPhotoGallery>input:checked~label~label~label~label {
    display: none;
}

.carouselPhotoGallery>input:checked+label {
    display: block;
    left: 0;
}

.carouselPhotoGallery>input:checked~label~label~label {
    display: block;
    right: 0;
}

.carouselPhotoGallery>label {
    position: absolute;
    top: 0;
    width: 25%;
    height: 100%;
    visibility: hidden;
}

.carouselPhotoGallery>label:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: visible;
}

.carouselPhotoGallery>label:after {
    display: block;
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    line-height: 22px;
    margin: -15px 10px 0 10px;
    background-color: black;
    color: white;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    visibility: hidden;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0 3px 4px black;
}

.carouselPhotoGallery>label:hover:after {
    visibility: visible;
}

.carouselPhotoGallery>input:checked+label:after {
    left: 0;
    content: '\00AB';
}

.carouselPhotoGallery>input:checked~label~label~label:after {
    right: 0;
    content: '\00BB';
}

.errorLogin {
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
}

.cardnews:hover {
    box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cardnews {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.562);
    color: ghostwhite;
}

.cardnews button {
    border: none;
    outline: 0;
    padding: 7px;
    color: rgba(0, 0, 0, 0.61);
    background-color: rgba(255, 255, 255, .9);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.cardnews button:hover {
    opacity: 0.7;
}

.columnnews {
    float: left;
    width: 20%;
    padding: 5px;
}

.rownews:after {
    content: "";
    display: table;
    clear: both;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.newsbody {
    margin-top: 4%;
    margin-right: 10%;
    margin-left: 10%;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 650px;
    max-height: 420px;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: auto;
    background-image: url("/images/modalbg.jpg");
    color: ghostwhite;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    position: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.headlinesBox {
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.headlinesBox ul {
    font-family: sans-serif;
    color: black;
    padding: 0px;
}

.headlinesBox ul li {
    margin: 15px;
    list-style: none;
    padding: 20px;
    text-align: left;
    background-color: rgba(170, 170, 170, 0.838);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
    min-height: 80px;
    max-height: 120px;
    overflow: hidden;
}

.headlinesBox ul li:hover {
    transform: scale(1.1);
    z-index: 100;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}

.headlinesBox ul li span {
    text-align: center;
    line-height: 10px;
    background: grey;
    color: white;
    display: inline-block;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 600;
    transform: translateY(-20px);
}

.headlinesBox ul li:hover span {
    background: black;
    color: white;
}

.iframe-container1 {
    margin-top: 2%;
    margin-left: 43%;
    padding-bottom: 3.5%;
}

.iframe-container2 {
    margin-left: 43%;
}

.videos h2 {
    margin-top: -77%;
    margin-left: 43%;
    width: 56%;
    color: ghostwhite;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.storebody {
    box-sizing: border-box;
    margin-right: 10%;
    margin-left: 10%;
    /* background-color: rgba(255, 255, 255, 0.3); */
    padding-top: 2%;
    padding-bottom: 2%;
}

.store-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    background: white;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}

.store-card a {
    color: inherit;
}

.store-card a:hover {
    color: navy;
}

.store-card:hover .photo {
    transform: scale(1.3) rotate(3deg);
}

.store-card .inside {
    position: relative;
    z-index: 0;
    height: 200px;
}

.store-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
}

.store-card .details,
.store-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}

.store-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
}

.store-card .details a {
    text-decoration: dotted underline;
}

.store-card .details ul li {
    display: inline-block;
}

.store-card .description {
    padding: 1rem;
    background: white;
    position: relative;
    z-index: 1;
}

.store-card .description h1,
.store-card .description h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.store-card .description h1 {
    line-height: auto;
    font-size: 1.7rem;
    margin-top: -15%;
}

.store-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: grey;
    margin-top: auto;
}

.store-card p {
    position: relative;
    margin: 1rem 0 0;
}

.store-card p:first-of-type {
    margin-top: 1.25rem;
}

.store-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: navy;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}

.store-card:hover .details {
    left: 0%;
}

@media (min-width: 640px) {
    .store-card {
        flex-direction: row;
        max-width: 75%;
    }
    .store-card .inside {
        flex-basis: 40%;
        height: auto;
    }
    .store-card .description {
        flex-basis: 60%;
    }
    .store-card .description:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    .store-card.alt {
        flex-direction: row-reverse;
    }
    .store-card.alt .description:before {
        left: inherit;
        right: -10px;
        transform: skew(3deg);
    }
    .store-card.alt .details {
        padding-left: 25px;
    }
}

body {
    background-color:black;
}

.forumsbody {
    margin-left: 10%;
    margin-right: 10%;
}

.forumsheading h1 {
    color: #ffffff;
}

.home1,
.home2,
.home3,
.home4,
.home5 {
    background-color: rgba(255, 255, 255, 0.838);
    margin: 10%;
    border-radius: 3%;
}

.home3body {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: -5%;
    text-align: center;
}

article {
    font-weight: 300;
    font-size: 0.9375rem;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
    color: #696666;
    margin-left: 0%;
    margin-right: -100%;
}

.accordion,
.sub-accordion {
    margin: 0;
    padding: 0;
    list-style: none;
}

.accordion__item {
    background: #e7e7e7;
    border-radius: 20px;
    margin-bottom: 5px;
}

.accordion__item:nth-child(odd)> :first-child:not(.accordion__link_active) {
    color: #ffffff;
    background: #696666;
}

.accordion__link {
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    color: #696666;
    text-decoration: none;
    border-radius: 20px;
    display: block;
    padding: 12px 50px 12px 20px;
}

.accordion__link:not(.accordion__link_active):after {
    position: absolute;
    content: "";
    border-top: 12px #a836f5 solid;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    right: 22px;
    top: 50%;
    transform: translatey(-6px);
}

.accordion__link:not(.accordion__link_active):hover {
    opacity: .8;
    color: #fff;
    background: #B8B8B8;
}

.accordion__link:not(.accordion__link_active):hover:after {
    border-top: 12px #ffffff solid;
}

.sub-accordion {
    padding: 5px 20px;
    display: none;
    height: 0;
    overflow: hidden;
}

.sub-accordion__item {
    padding: 5px 0;
}

.accordion__link_active {
    color: #ffffff;
    background-color: #a836f5;
}

.accordion__link_active:after {
    position: absolute;
    content: "";
    border-bottom: 12px #fff solid;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    right: 22px;
    top: 50%;
    transform: translatey(-6px);
}

.accordion__link_active+ul {
    display: block;
    height: 100%;
}

.forumsContent {
    padding: 10px;
    margin: 10px;
    display: inline-table;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    min-width: 100%;
}

.forumsContent ul {
    font-family: sans-serif;
    font-size: 22px;
    padding: 5px;
    margin: 5px;
    position: left;
    background-color: rgba(255, 255, 255, 0.438);
    color: black;
}

.forumsContent ul li {
    list-style: none;
    padding: 20px;
    margin: 3%;
    background-color: rgba(255, 255, 255, 0.838);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
    transition: transform 0.5s;
}

.forumsContent ul li:hover {
    transform: scale(1.1);
    z-index: 100;
    background: gainsboro;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
}

.forumsContent ul li span {
    margin-left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: grey;
    color: white;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 600;
    transform: translateY(-20px);
}


/* .galleri {
  display: flexbox;
  flex-wrap: wrap;
  justify-content: center;
} 


 .galleryimages{
  width: 600px;
  height: 400px;
  margin: 10px;
  transition: all 1s;
} 


 .galleryimages:hover {
  transform: scale(1.1);
} */

.headingtop h1,
.headingtop h2,
.container form1 h2 {
    color: #ffffff;
    text-align: center;
}

.btndone {
    background-color: rgb(102, 233, 215);
    color: black;
    /* padding: 50px; */
    border-radius: 10px;
    text-align: center;
    max-width: 10rem;
    background: transparent;
}

.formdone {
    background: transparent;
    text-align: center;
}

.dashboardinital {
    margin: 30px;
    text-align: center;
    background-color: transparent;
}

.dashboardinital h2 {
    color: white;
}

.forumsContent p {
    display: flexbox;
    color: gray;
    text-align: right;
    font-size: 14px;
    ;
}

.topthread {
    background-color: white;
    text-align: justify;
    max-height: 43rem;
    margin-top: 4%;
    border-radius: 1%;
}

.topthread h5 {
    text-align: right;
}

.bodytopthread h2 {
    text-align: center;
}

.bodytopthread {
    margin: 3%;
}

.forumsbody2 {
    display: flex;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container .fitem {
    padding: 50px 40px;
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1 33%;
    text-align: center;
    background-color: #333;
    color: white;
}

.flex-container .fitem i {
    font-size: 50px;
}

.flex-container .fitem i,
.flex-container .fitem p.subtitle-flex {
    color: #707070;
}

.flex-container .fitem .middle-text {
    font-size: 22px;
    font-weight: 200;
    margin: 20px auto;
}

.flex-container .fitem .footer-text {
    color: #949494;
}

.flex-container .fitem {
    position: relative;
}

.base-wrap {
    position: absolute;
    right: 0;
    margin-right: -10.5%;
    top: 47%;
}


/* .base {
    background: rgba(255, 255, 255, .9);
    display: inline-block;
    height: 20px;
    margin-left: 20px;
    margin-top: 5px;
    position: relative;
    width: 60px;
    transform: rotate(90deg);
    border: 1px solid #444;
    border-bottom: 1px solid transparent;
    z-index: 1;
}

.base:before {
    border-bottom: 34px solid #444;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    content: "";
    height: 0;
    left: -1px;
    position: absolute;
    top: -35px;
    width: 0;
}

.base:after {
    border-bottom: 34px solid #fff;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    content: "";
    height: 0.5px;
    left: 0px;
    position: absolute;
    top: -34px;
    width: 0;
} */

.wrapper {
    display: grid;
    row-gap: 30px;
}

.wrapper>div {
    background-color: transparent;
}

.wrapper3 {
    display: grid;
    row-gap: 30px;
    grid-template-columns: 20% 80%;
}

.wrapper2 {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
}

.new-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.new-flex-h {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: whitesmoke;
}

.userbox {
    padding: 5px 10px 5px 0px;
    width: 12.5%;
}

.threadbox {
    padding: 5px 0px 5px 10px;
    width: 87.5%;
    min-height: 100px;
}

.ebg-user {
    background-color: rgb(34, 34, 34);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    min-width: 120px;
}

.ebg {
    background-color: rgba(34, 34, 34, 0.884);
}

.ebg-thread {
    background-color: rgb(34, 34, 34);
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-userbox {
    padding: 5px 5px 15px 0px;
    width: 12.5%;
}

.main-threadbox {
    padding: 5px 0px 15px 5px;
    width: 87.5%;
}

hr {
    color: white;
    background-color: white;
}

.main-ebg-user {
    background-color: rgba(34, 34, 34, 0.884);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.main-ebg-thread {
    background-color: rgba(34, 34, 34, 0.884);
    width: 100%;
    height: 100%;
    padding: 30px;
}

.main-ebg-thread p {
    margin: 5%;
    max-width: 800px;
    word-wrap: break-word;
    font-size: 20px;
}

.comment-user {
    background-color: rgba(34, 34, 34, 0.884);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.comment-content {
    background-color: rgba(34, 34, 34, 0.884);
    width: 100%;
    height: 100%;
    padding: 30px;
}

.flex-header {
    text-align: left;
    padding-left: 10%;
    padding-top: 10px;
    margin: 30px 30px 15px 30px;
    background-color: #333;
    color: white;
}

.flex-items {
    margin: 15px;
    background-color: transparent;
    color: white;
}

.wrapper2 .flex-side {
    background: #333;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 300%;
}

.dashboard-body {
    margin: 5% 10%;
}

.dash-card {
    margin: auto 0;
    justify-content: center;
    display: grid;
    grid-template-columns: 100%;
    min-width: 80%;
    grid-template-rows: 240px 100px;
    grid-template-areas: "image" "text";
    border-radius: 2px;
    background: #333;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    color: white;
}

.dash-card-image {
    grid-area: image;
    background: url('/images/user-dash.jpg');
    background-size: cover;
}

.dash-card-text {
    grid-area: text;
    background-color: #333;
}

.dash-card-text h1 {
    float: left;
    margin: 30px 0px 0px 100px;
}

.dash-card-text form {
    float: right;
    margin: 0px 100px 0px 0px;
}

.search-dropdown {}

@media (max-width: 768px) {
    .flex-container {
        display: block;
        width: 300px;
    }
    .flex-container .base-wrap {
        top: auto;
        bottom: -24px;
        left: -18%;
    }
    .flex-container .base-wrap .base {
        transform: rotate(180deg);
    }
    
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/