
<div class="edit-profile-body">
    
    <div class="edith">
        <h4>Profile Page of {{user}}</h4>
        <p>Edit Profile Form</p>
    </div>
    
    <form action=" ">
    <div class="sc-edprofile">
        <div class="sc-container">
            <input type="text" style="float: left; width:50%" placeholder="First Name" /><br>
            <div class="userlogoe">
                <img src="/images/userlogo-new.png" >
                <input type="file" id="myFile" name="filename">
            </div>
            <input type="text" style="float: left; width:50%" placeholder="Last Name" />
            <input type="text" placeholder="Email" />
            <textarea placeholder="Bio" /></textarea>
            <input type="submit" value="Update" />
        </div>
    </div>
    </form>
    
</div>
