<div class="fullarticlepage">
    <div class="headerandimage">
        <p>Back to headlines</p>
        <div class="aatitle">
            Tiny rogue planet is the smallest free-floating exoplanet candidate yet
        </div>
        <div class="aapreview">
            The newfound exoplanet candidate likely has a mass between that of Mars and Earth.
        </div>
        
    </div>

    <div class="anewsbody">
        <img src="/images/n1.jpg" class="newimage">
        <p>Astronomers have spotted the smallest "rogue planet" candidate yet known, a world possibly smaller than Earth that apparently cruises through our Milky Way galaxy unattached to a star.<br>The potential exoplanet has a mass that's somewhere between that of the Earth and Mars, which is just 10% as hefty as our world. If confirmed, the discovery would be a big milestone in the study of rogue planets, which are thought to be incredibly abundant throughout the galaxy and beyond but are very difficult to detect.<br>"Our discovery demonstrates that low-mass free-floating planets can be detected and characterized using ground-based telescopes," Andrzej Udalski, co-author of a new study announcing the find and principal investigator of the Optical Gravitational Lensing Experiment (OGLE) project, said in a statement.</p>
        <div class="anewsauthor">By Mike Wall</div>
    </div>
</div>

{{!-- <div class="fullarticlepage">
    <div class="a-headersection">
        <div class="aatitle">
            Tiny rogue planet is the smallest free-floating exoplanet candidate yet
        </div>
        <div class="aapreview">
            The newfound exoplanet candidate likely has a mass between that of Mars and Earth.
        </div>
    </div>

    <div class="newpic">
        <img src="/images/n1.jpg">
    </div>

    <div class="anewsbody">
        <p>Astronomers have spotted the smallest "rogue planet" candidate yet known, a world possibly smaller than Earth that apparently cruises through our Milky Way galaxy unattached to a star.<br>The potential exoplanet has a mass that's somewhere between that of the Earth and Mars, which is just 10% as hefty as our world. If confirmed, the discovery would be a big milestone in the study of rogue planets, which are thought to be incredibly abundant throughout the galaxy and beyond but are very difficult to detect.<br>"Our discovery demonstrates that low-mass free-floating planets can be detected and characterized using ground-based telescopes," Andrzej Udalski, co-author of a new study announcing the find and principal investigator of the Optical Gravitational Lensing Experiment (OGLE) project, said in a statement.</p>
        <div class="anewsauthor">By Mike Wall</div>
    </div>
</div> --}}