<div class="new-headlinesbody">
    <div class="new-headlinesheader">
        <div class="new-headlines-text">
        	<h4>All Headlines</h4>
            <h6>Back To Top News</h6>
		</div>
    </div>
    <div class="new-headlines">
        <div class="eachheadline">
            <img src="/images/n1.jpg" class="pic">
            <div class="headline1">
                <div class="ntitle">Tiny rogue planet is the smallest free-floating exoplanet candidate yet</div>
                <div class="preview">The newfound exoplanet candidate likely has a mass between that of Mars and Earth.</div>
                <div class="newsauthor">By Mike Wall</div>
            </div>
        </div>

        <div class="eachheadline">
            <img src="/images/n2.jpg" class="pic">
            <div class="headline1">
                <div class="title">On This Day in Space: Oct. 29, 1991: Galileo spacecraft flies by Asteroid Gaspra</div>
                <div class="preview">Gaspra was the first asteroid to ever be visited by a spacecraft.</div>
                <div class="newsauthor">By Hanneke Weitering</div>
            </div>
        </div>

        <div class="eachheadline">
            <img src="/images/n3.jpg" class="pic">
            <div class="headline1">
                <div class="title">Gravitational-wave treasure trove reveals dozens of black hole crashes</div>
                <div class="preview">Scientists can now catch gravitational waves better than ever before.</div>
                <div class="newsauthor">By Meghan Bartels</div>
            </div>
        </div>

        <div class="eachheadline">
            <img src="/images/n4.jpg" class="pic">
            <div class="headline1">
                <div class="title">Astronaut Jack Fischer talks spacesuit challenges and the International Space Station in 'Virtual Astronaut' panel</div>
                <div class="preview">A retired NASA astronaut discusses how the International Space Station helps us model good teamwork on Earth</div>
                <div class="newsauthor">By Elizabeth Howell</div>
            </div>
        </div>

        <div class="eachheadline">
            <img src="/images/n5.jpg" class="pic">
            <div class="headline1">
                <div class="title">The Milky Way's quiet, introverted monster won't spin</div>
                <div class="preview">Many black holes spin much faster than this.</div>
                <div class="newsauthor">By Rafi Letzter</div>
            </div>
        </div>

        <div class="eachheadline">
            <img src="/images/n6.jpg" class="pic">
            <div class="headline1">
                <div class="title">The International Space Station and spaceship Earth share the same priorities, astronaut Nicole Stott says</div>
                <div class="preview">Retired NASA astronaut Nicole Stott will share the similarities between space station engineering and Earth's natural systems</div>
                <div class="newsauthor">By Elizabeth Howell </div>
            </div>
        </div>

        <div class="eachheadline">
            <img src="/images/n7.jpg" class="pic">
            <div class="headline1">
                <div class="title">NASA, SpaceX Invite Media to Crew-1 Mission Update, Target New Launch Date</div>
                <div class="preview">NASA and SpaceX now are targeting 7:49 p.m. EST Saturday, Nov. 14, for the launch of the first crew rotation mission</div>
                <div class="newsauthor">By MEDIA ADVISORY</div>
            </div>
        </div>

        <div class="eachheadline">
            <img src="/images/n8.jpg" class="pic">
            <div class="headline1">
                <div class="title">NASA’s SOFIA Discovers Water on Sunlit Surface of Moon</div>
                <div class="preview">NASA’s SOFIA has confirmed water on the sunlit surface of the Moon</div>
                <div class="newsauthor">By Daniel Rutterr</div>
            </div>
        </div>

        <div class="eachheadline">
            <img src="/images/n9.jpg" class="pic">
            <div class="headline1">
                <div class="title">NASA’s OSIRIS-REx Spacecraft Collects Significant Amount of Asteroid</div>
                <div class="preview">Images that confirm the spacecraft has collected more than enough material to meet one of its main mission requirements</div>
                <div class="newsauthor">By Meghan Bartels</div>
            </div>
        </div>

        <div class="eachheadline">
            <img src="/images/n10.jpg" class="pic">
            <div class="headline1">
                <div class="title">Ten Things to Know About Bennu</div>
                <div class="preview">NASA’s first mission to return a sample from an ancient asteroid arrived at its target, the asteroid Bennu</div>
                <div class="newsauthor">By Hanneke Weitering</div>
            </div>
        </div>
    </div>
</div>